@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    outline: none;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.header__logo {
    color: #0a3d62;
    min-width: 165px;
}

header a {
    padding: 80px;
    color: #0a3d62;
}

.app_container {
    background-color: #38ada9;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.column1__img {
    content: url("images/iphone.png");
}

.column2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 10px;
}

.column2 div {
    margin-bottom: 20px;
    text-align: justify;
}

.column2__button {
    height: 40px;
    width: 150px;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.branch {
    padding: 40px 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.branch__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-right: 10px;
}

.branch__column span {
    color: white;
    margin-bottom: 20px;
}

.branch__column h3, p {
    margin-bottom: 20px;
}

.icon-background {
    color: #38ada9;
}

form {
    background-color: #38ada9;
    text-align: center;
    padding: 20px;
}

.form__container {
    display: flex;
    margin: 20px 20px;
    width: 100%;
    height: auto;
}

.form__container__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.left__input {
    margin-bottom: 10px;
}

.left__col {
    display: flex;
}

.col__1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-weight: bold;
}

.col__1 label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
}

.col__2 {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.col__2--gender {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.col__2--checkbox {
    display: flex;
    justify-content: space-around;
}

.col__2--input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 10px;
}

.col__2--date {
    display: flex;
    padding-bottom: 10px;
}

.form__container--right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.form__container--right label {
    margin: 10px 0;
    font-weight: bold;
}

.right--textarea {
    height: 300px;
    margin-bottom: 30px;
}

.form--submit {
    display: flex;
    justify-content: center;
}

.form--button {
    height: 40px;
    display: flex;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin: 0 40px;
}



 