@import url(https://fonts.googleapis.com/css?family=Montserrat|Pacifico&display=swap);

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #b9c783;
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: #635960;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame {
    width: 100%;
    height: 10px;
    background: repeating-linear-gradient(to right,
    #635960 0, #635960 10%,
    #8b8e59 10%, #8b8e59 20%,
    #eada7d 20%, #eada7d 30%,
    #fffecd 30%, #fffecd 40%,
    #7bc3ab 40%, #7bc3ab 50%
    );
}

header {
    color: #fffecd;
    font-family: Pacifico, cursive;
    font-size: 3.5em;
    font-weight: lighter;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: medium;
    font-weight: bold;
}

.spacing {
    height: 50px;
}

.container {
    width: 210px;
    height: 200px;
}

input {
    height: 25px;
    margin-bottom: 10px;
    background-color: #fffecd;
    border: none;
    outline: none;
    color: #635960;
    padding-left: 3px;
}

input[type='submit']:hover {
    cursor: pointer;
}

input[type='submit'] {
    background-color: #635960;
    color: #fffecd;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 0 20px;
    height: 27px;

}

.shadow {
    margin-top: -35px;
    position: relative;
    width: 210px;
    height: 120px;
    z-index: -1;
}

.shadow:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: skewX(20deg);
    background-image: linear-gradient(to bottom, #afbe79, #b2c07c, #b5c27e, #b7c481, #bac684);
}

.shadow:after {
    margin-top: 25px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform-origin: top left;
    transform: skewX(20deg);
    background-image: linear-gradient(to bottom, #afbe79, #b2c07c, #b5c27e, #b7c481, #bac684);
}

#chat_window {
    display: block;
    width: 530px;
    height: 300px;
    background-color: #fffecd;
    margin-bottom: 10px;
    color: #635960;
    overflow-y: scroll;
    padding: 5px;
}

#msg_input {
    width: 440px;
    margin-right: 10px;
}
.invalid_msg {
    font-size: 10px;
    color: red;
    margin: 0;
}

.hidden {
    display: none;
}

.invalid_input {
    box-shadow: inset 0 0 5px red;
}