body {
    display: flex;
    justify-content: space-around;
}
section {
    width: 300px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin: 5px 0;
}
#chart_div {
    top: 50%;
    left: 50%;
}
