body {
    font-family: Cambria, Arial, serif;
}

.image_box {
    display: inline-block;
    text-align: center;
    margin: 5px 15px;
}
img {
    border-radius: 10%;
    height: 60px;
    width: 100px;
}

.block {
    width: 20px;
    height: 20px;
    margin: 0;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.container_board {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    border: solid 1px black;
}

