body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
}

.floats .column {
    float: left;
    width: 33.33%;

}

.blocks .column {
    display: inline-block;
    width: 33.33%;
}

.flexbox {
    display: flex;
}

.flexbox .column {
    flex:1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}