
* {
    margin: 0;
    padding: 0;
    color: #0a3d62;
    font-family: courier, serif;
    text-align: center;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #38ada9;
    border: 2px groove;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex: 1;
}

.first {
    background-color: #82ccdd;
    border: 1px ridge;
    padding: 10px;
}

.second {
    background-color: #60a3bc;
    border: 1px ridge;
    padding: 10px;
}

.third {
    background-color: #3c6382;
    border: 1px ridge;
    padding: 10px;
}

footer {
    background-color: #079992;
    border: 2px groove;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}